{% extends "layout.html" %}

{% block heading %}
    Flight Information
{% endblock %}

{% block body %}
    <h3>Flight</h3>
    <ul>
        <li>Origin: {{flight.origin}}</li>
        <li>Destination: {{flight.destination}}</li>
        <li>Duration: {{flight.duration}}</li>
    </ul>
    <h3>Passenger</h3>
    <ul>
        {% for passenger in passengers %}
            <li>
                {{passenger.id}} : {{passenger.name}}
            </li>
        {% else %}
            <li>
                No passenger on that flight
            </li>
        {% endfor %}
    </ul>
{% endblock %}

