{% extends "layout.html" %}

{% block heading %}
    Flights Select
{% endblock %}

{% block body %}    
    <form action="{{ url_for('book') }}" method="post">
        <div class="form-group">
            <!--Form Control is a "delimiter" used by bootstrap to beautifull-->
        <select class="form-control" name="flight_id">
            {% for flight in flights %}
                <option value="{{ flight.id }}">{{ flight.origin }} to {{ flight.destination }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="name" placeholder="Passenger nmame">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Book flight</button>
        </div>
    </form>
    
{% endblock %}